{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "jest"],
  "parser": "babel-eslint",
  "rules": {
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "react/jsx-one-expression-per-line": 0,
    "prettier/prettier": ["error"]
  },
  "env": {
    "browser": true,
    "jest/globals": true
  }
}
